[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
django = "==3.1.8"
beautifulsoup4 = "==4.9.3"
django-heroku = "=="
python-decouple = "*"
whitenoise = "*"
dj-database-url = "*"
pillow = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
